/* 
  TODO:
  Styles that are commong to all 'pages'
  should be moved to a global css file
  - When doing so, double-check if the
    classnames are consistent
*/

.Wrapper {
  width: 100%;
  height: 95%;
  padding: 20px 30px;
}

.PanelContent {
  width: 100%;
  height: 100%;
  /* border-radius: 12px;
  border: 1px solid var(--color-dashboard-panel-border); */
  padding: 28px 24px 38px 24px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.TabGroup{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  
}

.ReportButton {
  height: 60px;
  width: 280px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--color-primario);
  user-select: none;
  color: var(--brand-color-main);
  background-color: var(--appbar-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.3rem;

  &:hover {
    background-color: var(--brand-color-main);
    color: var(--appbar-color);
  }

  &:hover svg path {
    fill: var(--appbar-color);
    stroke: var(--appbar-color);
  }
}

/* .Container { */
  /* border: 2px dotted hotpink; */
  /* height: 100%; */

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
/* } */

/* .PlaceholderText { */
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-size: 2rem; */
  /* color: var(--brand-color-main); */
/* } */
