
.container {
  display: flex;
  flex-direction: row;
  justify-content:flex-start; 
  align-items: center;
  background-color: var(--searchbar-color);
  /* background-color: red; */
  color: var(--searchbar-placeholder-color);
  width: 625px;
  height: 48px;
  border-radius: 20px;
  padding: 15px;
  }
  

.search {
margin-left: 15px;
width: 100%;
  border: none;
    outline: none;
    background-color: transparent;
}
