
.container{
  /* border:  2px dotted blue /* DEBUG CSS; */
  width: 90%;
  height: 90%;
  min-height: 117px;
  border-radius: 10px;
  background-color: darkgray;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 2px 10px 17px 0px #efeeee;}

  .title{
    color:var(--grey);
    font-family: var(--font-Roboto);
    font-weight: bold;
    font-size: 0.8rem;
  }

  .peopleWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: red; */
  }
  .peopleNumber{
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .peopleText{
    font-size: 0.9rem;
    margin-left: 9px;
  }

  .numberWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 5px;
  }

  .groupDiv {
    width: 100%;
    height: 100%;
    max-width: 50px;
    height: 50px;
    background-color: #DDE3E8;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .insideWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items:center;
    justify-content: space-between;
  } 

    /*isPresident*/
    .presidentName {
      color: var(--brand-color-main);
      font-size: 1rem;
    }
    .presidentWrapper{
      display:flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .presidentContainer{
      display:flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
    .phoneWrapper{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .phone{
      font-size: 0.7rem;
      color: var(--grey);
    }