.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  width: 100%;
  /* background-color: chocolate; */
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 4px;
  
}
.legendText {
  font-size: 10px;
}