@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Readex+Pro:wght@160..700&display=swap');

:root {
  /* AppMinistrador UI Global Colors */
  --sidebar-color: #f9f9f9;
  --brand-color-main: #044b59;
  --white: white;

  /* from react-resizable-panels library */
  --color-resize-bar-drag: #39414d;
  --color-resize-bar-hover: #39414d66;
  --color-solid-resize-bar: #39414d;
  /* --color-panel-background: #192230; */
  --color-panel-background-alternate: #202124;

  --header-color: rgb(75, 166, 238);
  --hero-color: rgb(193, 60, 44);
  --content-color: rgb(71, 152, 55);
  --sidebar-color: rgb(97, 60, 176);
  --footer-color: rgb(97, 97, 97);
  --background-color: rgb(43, 43, 43);
}

.dashboardPlaceholder {
  width: 100%;
  height: 100%;
  border: 1px dotted hotpink;
  /* background-color: cornflowerblue; */
}

/* .fullHeightWrapper { */
  /* min-height: 100%; */
/* } */
