.wrapper {
  width: 100%;
  height: 100%;
  padding: 46px 61px 47px 49px;
}

.container {
  border: 2px dotted hotpink;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholderText {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color: var(--brand-color-main);
}